.mainContainer__post{
  height: 80%;
  width: 80%;
  border: solid 1px black;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 1px 1px 14px 3px black;
}
.importantWord{
  color: $colorSoftViolet;
}
.mainContainer__info{
  background: $colorDarkDesaturatedBlue;
  font-size: $fontSize;
  font-family: $fontIner;
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  line-height: 1.4rem;
}
.mainContainer__info>h2 {
  color: $colorWhite;
  font-weight: $fontrWeightStrong;
}
.statistics span{
  color: $colorWhite;
  font-size: $fontSize;
}
.mainContainer__info>p{
  color: $colorSlightlyTransparentWhite1;
  margin-top: 0.8rem;
}
.statistics p{
  color: $colorSlightlyTransparentWhite2;
  font-family: $fontLexend;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: $fontWeightLight;
}
.statistics{
  margin-top: 0.8rem;
}
.mainContainer__imgContainer{
  background-color: $colorSoftViolet;
  background-image: url(../images/image-header-mobile.jpg);
  background-blend-mode:hard-light; //multiply
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media(min-width: $resolutionTablet){
  .mainContainer__post{
    height: 70%;
  }
  .stats{
    display: flex;
    justify-content: space-evenly;
  }
  .mainContainer__info h2{
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media(min-width: $resolutionDesktop){
  .mainContainer__post{
    border-radius: 1rem;
    flex-direction: row-reverse;
    height: 60%;
  }

  .mainContainer__info{
    flex-direction: column;
    justify-content: space-between;
    padding: 2.8rem 3rem;
    text-align: start;
  }
  .mainContainer__info h2{
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .mainContainer__imgContainer{
    background-image: url(../images/image-header-desktop.jpg);
  }
  .stats{
    display: flex;
    justify-content: space-between;
  }
}